@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Bacon ipsum dolor amet reprehenderit pork chop jerky...</p>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-primary btn-lg" })
  </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
          Bacon ipsum dolor amet reprehenderit pork chop jerky, laboris qui occaecat irure aliqua sint shankle chicken. Pariatur in exercitation esse ut. Pork loin turducken incididunt non, sed irure kielbasa. Ham hock ex beef ribs porchetta, picanha adipisicing reprehenderit shank pork chop bacon et ad. Venison mollit ex nisi laborum chicken strip steak dolor corned beef kevin shank rump pancetta sunt. Kielbasa jerky hamburger, ground round pork eiusmod elit non pariatur. Pancetta ground round eu culpa.
        </p>
    </div>
</div>